@model Smart.Models.Cliente
@{
ViewData["Title"] = "Remover Cliente";
}

<div class="container">
    <h2 class="my-4">Remover Cliente</h2>
    <div class="card">
        <div class="card-header">
            Detalhes do Cliente:
        </div>
        <div class="card-body">
            <div class="row">
              
                    <div class="col-md-6">
                        <h4>Nome: @Html.DisplayFor(model => model.Nome)</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">ID: @Html.DisplayFor(model => model.Id)</li>
                            <li class="list-group-item">Nome: @Html.DisplayFor(model => model.Nome)</li>
                          
                        </ul>
                    </div>
               
            </div>
        </div>
    </div>
 <div class="mt-4">
        <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" class="btn btn-danger" value="Deletar">
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
</div>   
</div>